

.html {
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.path {
    fill: none;
    stroke: blue;
}

.y.path {
    fill: none;
    stroke: red;
}

.z.path {
    fill: none;
    stroke: green;
}

.brush {
  stroke: #fff;
  fill-opacity: .1;
}

.extent {
    stroke: white;
    fill-opacity: 0;
}

.brush-line {
    stroke: orange;
    fill-opacity: 0.8;
    stroke-width: 2px;
}
