
body {
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.path.left {
    fill: none;
    stroke: blue;
    opacity: 0.5;
}
